@{
    ViewData["Title"] = "Connexion";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form action="" method="get" class="form-example">
        <div class="form-example">
            <label for="name">Entrez votre nom: </label>
            <input type="text" name="lastName" id="name" required>
        </div>
        <div class="form-example">
            <label for="email">Enter votre prenom </label>
            <input type="text" name="firstName" id="name" required>
        </div>
        <div class="form-example">
            <input type="submit" value="Connexion">
        </div>
    </form>
    

</div>